body{
	width: 100%;
	overflow-x: scroll;
}
/*start header css*/
#navyo{
	background-color: black;
	height: 40px;
	position:fixed;
	width: 100%;
}

#navyo img{
	padding-top: 7px;
	padding-left: 5px;
	height: 35px;
}

#navyo a{
	color:white;
}

#navyo a:visited{
	color:white;
}

#navyo i{
	margin-right: 7px;
}
/*end header css*/
/*start column css*/
#columnslist{
	list-style-type: none;
	margin:0;
	padding: 0;
	white-space:nowrap;
	overflow-y: hidden;
}

.column{
	top:100px;
	display:inline-block;
	vertical-align: top;
	margin-left:-5px;
	width: 400px;
	min-height: 70px;
	background-color: blue;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

li {
    height: 100%;
}

.column h2{
	text-align: center;
	margin-top: 60px;
	color:white;
}
/*end column css*/

/*start card css*/
.cardlist{
	margin-top:0;
	list-style-type: none;
	margin-left: -10px;
}

.card{
	background-color: white;
	height: 150px;
	width: 85%;
	border-radius: 20px;
	box-shadow: 6px 6px 5px black;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
}

.cardheader{
	height:25px;
	background-color: black;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	color: white;
	font-size: 18px;
}

.cardheader i{
	margin-left:200px;
	padding-top:3px;
}

.cardtitle{
	color:white;
	padding-left: 25px;
}

.cardpriority{
	color:black;
	background-color: yellow;
	width:30px;
	border-top-left-radius: 20px;
	padding-left:20px;
	height: 23px;
	padding-top: 2px;
}

#activitylist{

}

.activity{

}
.cardlist{
    min-height: 200px !important;
    height: 100% !important;
}

/* login page */
h1 {
	padding-top: 30px;
	padding-left: 30px;
}

form {
	padding-left: 30px;
}

input {
	width: 200px;
	height: 28px;
	margin: 1.5px; 
}




/*settings*/
.settingsName{
	display: inline-block;
	border-style: solid;
	border-radius: 10px;
	border: 2px groove threedface;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	min-width: -webkit-min-content;
	box-shadow: 0px 0px 8px #888888;
	width: 20%;
	padding: 50px 15px 5px 20px;
	margin: 0px 10px 0px 10px;
	float: left;
	top: 50px;
	position: relative;

}

.settingsName img{
	border-radius: 10px;
}
.settingsName div{
	font-size: 150%;
	font-weight: bold;
	display: inline-block;
	vertical-align: bottom;
}

.settings{
	background-color: black;
	color: white;
	display: block;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	position:relative;
	top: 50px;
	width: 45%; 
	transition: opacity .3s linear,transform .3s ease-out;
	border-radius: 10px;
	box-shadow: 0 0 10px #888888;
}

.settingsContent{
	height: 100%;
}
.settingsContent h1{
	color: white;
}

.settings fieldset{
	border: none;
	/*border-style: solid;
	border: 2px groove threedface;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	min-width: -webkit-min-content;
	box-shadow: 0px 0px 8px #888888;
	border-radius: 10px;
	padding: 10px 20px 10px 10px;
	width: 45%;*/

}
.settings input{
	box-shadow: 0px 0px 8px #888888;
	border-radius: 4px;
}

.button{
	display: block;
	float:right;
	border: 1px solid;
	border-radius: 4px;
}

#color1{
	height: 40px;
    background: -webkit-linear-gradient(left, #40543A , #8EB283); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #40543A, #8EB283); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #40543A, #8EB283); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #40543A , #8EB283); /* Standard syntax (must be last) */
	/*
	background-image: url("http://m4.i.pbase.com/u26/jackcnd/upload/43767514.GradientWhite0127720p.JPG") 0 0 no-repeat;
	padding-left: 50px;
   	height: 30px;
   	background-size: 50%;
   	*/
}

#color2{
	height: 40px;
    background: -webkit-linear-gradient(left, #142966 , #72c6ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #142966, #72c6ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #142966, #72c6ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #142966 , #72c6ff); /* Standard syntax (must be last) */
}

#colorBox{
	min-height: 40px;
	min-width: 200px;
	display: block;
	background: -webkit-linear-gradient(left, #40543A , #8EB283); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #40543A, #8EB283); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #40543A, #8EB283); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #40543A , #8EB283); /* Standard syntax (must be last) */
    background-color: white;

}

#adminSettings{
	display:none;
}

#settingsModal{
	display:none;
	color:white;
}