body{
	width: 100%;
	overflow-x: scroll;
}
/*start header css*/
#navyo{
	background-color: black;
	height: 40px;
	position:fixed;
	width: 100%;
}

#navyo img{
	padding-top: 7px;
	padding-left: 5px;
	height: 35px;
}

#navyo a{
	color:white;
}

#navyo a:visited{
	color:white;
}

#navyo i{
	margin-right: 7px;
}
/*end header css*/
/*start column css*/
#columnslist{
	list-style-type: none;
	margin:0;
	padding: 0;
	white-space:nowrap;
	overflow-y: hidden;
}

.column{
	top:100px;
	display:inline-block;
	vertical-align: top;
	margin-left:-5px;
	width: 25%;
	min-height: 70px;
	background-color: blue;
}

li {
    height: 100%;
}
#col1 {
    background-color: #75a99c;
}

#col2 {
    background-color: #7592a9;
}

#col3 {
    background-color: #8675a9;
}
#col4 {
    background-color: #9f75a9;
}
#col5 {
    background-color: #81a975;
}


.column h2{
	text-align: center;
	margin-top: 60px;
	color:white;
}
/*end column css*/

/*start card css*/
.cardlist{
	margin-top:0;
	list-style-type: none;
	margin-left: -10px;
}

.card{
	background-color: white;
	height: 150px;
	width: 85%;
	border-radius: 20px;
	box-shadow: 6px 6px 5px black;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
}

.cardheader{
	height:25px;
	background-color: black;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	color: white;
	font-size: 18px;
}

.cardheader i{
	margin-left:200px;
	padding-top:3px;
}

.cardtitle{
	color:white;
	padding-left: 25px;
}

.cardpriority{
	color:black;
	background-color: yellow;
	width:30px;
	border-top-left-radius: 20px;
	padding-left:20px;
	height: 23px;
	padding-top: 2px;
}

#activitylist{

}

.activity{

}


/* login page */
h1 {
	padding-top: 30px;
	padding-left: 30px;
}

form {
	padding-left: 30px;
}

input {
	width: 200px;
	height: 28px;
	margin: 1.5px; 
}
